
function mainPrice(price, discountPrice) {
    if(!discountPrice){
        return {
            price:price,
            display:true
        }
    }
    else{
        return {
            display:true,
            price:discountPrice,
        }
    }
}

function slashedPrice(price, discountPrice) {
    if(discountPrice){
        return {
            display:true,
            price:price
        }
    }else{
        return {
            display:false,
            price:null
        }
    }
}

module.exports = {
    mainPrice:mainPrice,
    slashedPrice:slashedPrice
}